.navigation, .banner {
    margin: 0;
    padding: 0;
    
}


.banner {
    background: #2962FF;
    color: #fff;
    height: 90px;
    font-size: 4em;
    text-align: center;
    letter-spacing: 4px;
    text-decoration: underline;
    padding: 10px 0px 0px 0px;
    
}

/*
h1 {
    margin: 0 auto;
    border: 2px solid red
}*/

.navigation {
    
/*    height: ;*/
    background: #B0BEC5;
/*    line-height: 90px;*/
    border: 5px solid #2962FF;
    margin: 0px;
    padding: 0px;
    
/*    Remove this & see what happens*/
    display: flex;
}

/*Setting ul margin and padding to 0 is very important otherwise it won't cover the whole background on hovering*/
ul{
    margin: 0px;
    padding: 0px;
    padding-left: 3px;
}

li{
    list-style-type: none;
    width: 150px;
    line-height: 40px;
/*    Setting height is not mattering anymore*/
/*    height: px;*/
    font-size: 18px;
    padding: 0px 3px;
    margin: 0px;
    float: left;     
    text-align: center;
    
/*    ***This is important for getting a bigger background cover on hovering*****       */
    display: block;
}

li:hover{
    cursor: pointer;
    background: white;
    border-top: 1px solid rgb(50,50,50);
    box-shadow: 5px 5px 5px rgb(50,50,50);
    color: black;
    
}