body,ul,li,a,p,html,div {
    padding: 0;
    margin: 0;
    
}

body {
    margin: 20px;
    
}

.nav {
    background: #ddd;
    
}

.nav .logo {
    float: left;
    font-size: 2.8em;
    
}
.links {
    float: right;
}
.links ul li {
    list-style: none;
    display: inline-block;
    margin-top: 12px;
}

.links ul li a{
    text-decoration: none;
    color: black;
    padding: 15px 25px;
    margin-right: 10px;
    font-size: 18px;
    
}